# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> Databank API </title>
</%def>
<h1>Databank API</h1>
<h2><ul>API documentation for:
<li class="menu"><a href="/${c.base}api/silos">Silos</a></li>
<li class="menu"><a href="/${c.base}api/datasets">Datasets</a></li>
<li class="menu"><a href="/${c.base}api/items">Items</a></li>
<li class="menu"><a href="/${c.base}api/states">States</a></li>
<p>To learn more about Databank visit the <a href="https://damssupport.bodleian.ox.ac.uk/trac/databank/wiki" target="_blank">Databank wiki</a></p>
</ul></h2>

<%include file="${c.api_file}"/>
